In [7]:
import numpy as np
import pandas as pd
import seaborn as sns

ModuleNotFoundError: No module named 'numpy'

In [8]:
# Importando dados
bdatrasos=pd.read_csv('\home\afonso\Documents\Bases\hackapan\Base-Hackapan\BASE_ATRASOS_HACKAPAN.txt',sep=";")
bdtrans=pd.read_csv('/home/afonso/Documents/Bases/hackapan/Base-Hackapan/BASE_TRANSACOES_HACKAPAN.txt',sep=";")
bdcartoes=pd.read_csv('/home/afonso/Documents/Bases/hackapan/Base-Hackapan/BASE_CARTOES_HACKAPAN.txt',sep=";")

NameError: name 'pd' is not defined

In [13]:
bdatrasos.head(3)

         ID  REFERENCIA  QT_DIAS_ATRASO
0  B4DABB73  2018-06-30               0
1  55AC2B52  2018-12-31               0
2  AF92CC5F  2018-11-30             128

In [4]:
bdtrans.head(3)

,ID,DATA_HORA,LIMITE_DISPONIVEL_APOS_TRANSACAO,VALOR_TRANSACAO,APROVADO_NEGADO,COMPRA_PRESENCIAL,NUMERO_PARCELAS,PAIS,BANDEIRA,VARIANTE_CARTAO,CODIGO_LOJISTA_MCC,RAMO_LOJISTA,LOJA
0,5BDA5905,2018-02-22 17:30:26,1938,"187,6",APR,N PRES,NaN,BRA,M,INT,5965,M.O.T.O.,MERCPAGO*NULL
1,5BDA5905,2018-02-22 15:25:29,2125,40,APR,N PRES,NaN,BRA,M,INT,7338,SERVIÇO,PG *LOJADOCONVITE
2,5BDA5905,2018-02-22 13:11:44,2165,"58,8",APR,PRES,NaN,BRA,M,INT,5651,VESTUARIO,CRISTIANE MORENO SILVA

In [5]:
bdcartoes.head(3)

,ID,FRAUDE,DT_CONTRATACAO,DATA_ATIVACAO,LIMITE_CREDITO_CARTAO,ORIGEM_VENDA_CONTRATO,DATA_NASCIMENTO_CLIENTE,GENERO,ESTADO_CIVIL,NATURALIDADE,...,CIDADE3_BUREAU1,CIDADE4_BUREAU1,CIDADE5_BUREAU1,RENDA_INFORMADA,RENDA_BUREAU1,RENDA_BUREAU2,SCORE_CREDITO_BUREAU1,SCORE_CREDITO_BUREAU2,SCORE_FRAUDE,FLAG_DESENVOLVIMENTO
0,E6524F55,0,2018-06-28 00:00:00,2018-07-12,1050,INBOUND,1971-07-07,MASCULINO,NaN,NaN,...,LINHARES,LINHARES,LINHARES,"4200,00",1000,3550.0,470.0,629.0,919.0,0
1,6E8857A2,0,2018-06-05 00:00:00,2018-07-23,2700,OUTBOUND,1962-03-30,MASCULINO,CASADO,BR,...,DUQUE DE CAXIAS,DUQUE DE CAXIAS,NaN,"3000,00",998,1800.0,815.0,893.0,703.0,1
2,64A9E7CB,0,2018-06-13 00:00:00,2019-03-27,400,OUTBOUND,1992-01-13,FEMININO,CASADO,BRASIELIRA,...,PARDINHO,IGARACU DO TIETE,IGARACU DO TIETE,"1500,00",886,1350.0,509.0,349.0,685.0,0

In [7]:
bdcartoes.describe()

,FRAUDE,LIMITE_CREDITO_CARTAO,FLAG_CARTAO_ADICIONAL,FLAG_EMAIL_INFORMADO,COD_PROFISSAO_BUREAU1,CEP_RESIDENCIAL_INFORMADO,CEP_COMERCIAL_INFORMADO,CEP1_BUREAU1,CEP2_BUREAU1,CEP3_BUREAU1,...,DDD1_BUREAU1,DDD2_BUREAU1,DDD3_BUREAU1,DDD4_BUREAU1,DDD5_BUREAU1,RENDA_BUREAU2,SCORE_CREDITO_BUREAU1,SCORE_CREDITO_BUREAU2,SCORE_FRAUDE,FLAG_DESENVOLVIMENTO
count,86558.000000,86558.000000,86558.000000,86558.000000,67006.000000,8.655800e+04,6.151600e+04,7.901100e+04,6.952000e+03,6.202000e+03,...,86187.000000,85588.000000,81899.000000,74403.000000,64012.000000,8.636000e+04,86405.000000,58027.000000,80417.000000,86558.000000
mean,0.006470,1208.086301,0.091234,0.774082,491342.428812,3.583514e+07,3.674113e+07,3.471006e+07,3.279178e+07,3.258239e+07,...,28.597863,17.305907,13.096363,11.169496,10.372133,2.513594e+03,595.224698,626.650904,698.893816,0.700005
std,0.080174,1145.945813,0.287943,0.418188,203770.390323,2.897448e+07,2.896931e+07,2.887665e+07,2.831947e+07,2.809654e+07,...,26.759002,24.319511,22.155049,20.978489,20.424621,1.109697e+04,164.614927,144.007392,160.961929,0.458258
min,0.000000,0.000000,0.000000,0.000000,10.000000,6.620300e+05,1.001000e+06,0.000000e+00,1.000000e+00,1.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000
25%,0.000000,475.000000,0.000000,1.000000,391205.000000,1.136679e+07,1.221217e+07,9.811465e+06,9.185178e+06,9.181168e+06,...,11.000000,0.000000,0.000000,0.000000,0.000000,1.350000e+03,462.000000,520.000000,580.000000,0.000000
50%,0.000000,750.000000,0.000000,1.000000,511215.000000,2.580460e+07,2.690000e+07,2.444540e+07,2.264151e+07,2.272555e+07,...,18.000000,11.000000,0.000000,0.000000,0.000000,1.650000e+03,565.000000,623.000000,722.000000,1.000000
75%,0.000000,1500.000000,0.000000,1.000000,622505.000000,6.074383e+07,6.220000e+07,6.018055e+07,5.708418e+07,5.653373e+07,...,43.000000,21.000000,16.000000,11.000000,11.000000,2.300000e+03,717.000000,730.000000,829.000000,1.000000
max,1.000000,22000.000000,1.000000,1.000000,992225.000000,9.989000e+07,9.989000e+07,9.990000e+07,9.970041e+07,9.970041e+07,...,99.000000,99.000000,99.000000,99.000000,99.000000,1.500000e+06,1002.000000,999.000000,971.000000,1.000000

In [8]:
bdcartoes.groupby(['FRAUDE']).size()

FRAUDE
0    85998
1      560
dtype: int64

In [14]:
bdcartoes.groupby(['FLAG_DESENVOLVIMENTO']).size()

FLAG_DESENVOLVIMENTO
0    25967
1    60591
dtype: int64

In [18]:
bdcartoes.groupby(['FLAG_DESENVOLVIMENTO', 'FRAUDE'])['FRAUDE'].count().unstack().fillna(0)

FRAUDE                    0    1
FLAG_DESENVOLVIMENTO
0                     25791  176
1                     60207  384

In [28]:
teste = bdcartoes[['FLAG_DESENVOLVIMENTO', 'FRAUDE','LIMITE_CREDITO_CARTAO','SCORE_FRAUDE','SCORE_CREDITO_BUREAU1','SCORE_CREDITO_BUREAU2','RENDA_BUREAU2']]

,FLAG_DESENVOLVIMENTO,FRAUDE,LIMITE_CREDITO_CARTAO,SCORE_FRAUDE,SCORE_CREDITO_BUREAU1,SCORE_CREDITO_BUREAU2,RENDA_BUREAU2
0,0,0,1050,919.0,470.0,629.0,3550.0
1,1,0,2700,703.0,815.0,893.0,1800.0
2,0,0,400,685.0,509.0,349.0,1350.0

In [43]:

    aux1 = teste.drop('FRAUDE', axis = 1)
    X = aux.values
    aux2 = teste['FRAUDE']
    y = aux2.values

In [41]:
X.shape[0]

86558

In [44]:
y.shape[0]

86558

In [48]:
X[:,0:5]

array([[0.000e+00, 1.050e+03, 9.190e+02, 4.700e+02, 6.290e+02],
       [1.000e+00, 2.700e+03, 7.030e+02, 8.150e+02, 8.930e+02],
       [0.000e+00, 4.000e+02, 6.850e+02, 5.090e+02, 3.490e+02],
       ...,
       [1.000e+00, 1.200e+03, 8.780e+02, 8.300e+02, 8.020e+02],
       [1.000e+00, 1.175e+03, 4.850e+02, 9.220e+02,       nan],
       [1.000e+00, 8.250e+02, 5.900e+02, 4.900e+02,       nan]])

In [51]:
y

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [112]:
# Vamos tentar uma implementacao mais simples

import pandas as pd
import xgboost as xgb
import numpy as np
import sklearn
from sklearn.datasets import dump_svmlight_file
from sklearn.preprocessing import LabelEncoder

In [121]:
db_reduzido = bdcartoes[['FLAG_DESENVOLVIMENTO', 'FRAUDE','LIMITE_CREDITO_CARTAO','SCORE_FRAUDE','SCORE_CREDITO_BUREAU1','SCORE_CREDITO_BUREAU2','RENDA_BUREAU2']]

# Separa desenvolvimento e validacao
db_dsnv = db_reduzido[(db_reduzido['FLAG_DESENVOLVIMENTO'] == 1)]
db_vl   = db_reduzido[(db_reduzido['FLAG_DESENVOLVIMENTO'] == 0)]

# O desenvolvimento converto em Array
aux1 = db_dsnv.drop('FRAUDE', axis = 1)
train_X = aux1.values
aux2 = db_dsnv['FRAUDE']
train_y = aux2.values

# A de teste converto em matrix
aux3 = db_vl.drop('FRAUDE', axis = 1)
test_X = aux3.values
aux4 = db_vl.drop('FRAUDE', axis = 1)
resp = aux4.values

In [114]:
gbm = xgb.XGBClassifier(max_depth=3, n_estimators=300, learning_rate=0.05).fit(train_X, train_y)

In [122]:
predictions = gbm.predict(test_X)

In [120]:
print(sum(predictions))

26

In [124]:
print(sum(resp))

[       0. 31337121.       nan       nan       nan       nan]